<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All Products</title>
</head>
<body>
    <h2>{{userName}}</h2>
    <form method = "POST" action = "/search">
        <input type = "text" name = "txtName">
        <input type = "submit" value = "Search">
    </form>
    <table class = "table table-hover table-sm">
        <thead>
            <tr>              
                <td>Name</td>
                <td>Price</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{#each model}}
            <tr>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td><a href = "/edit?id={{_id}}">Edit</a></td>
                <td><a href = "/delete?id={{_id}}" onclick = "return confirm('Do you want delete this product?')">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href = "/">Back to Home Page</a>
</body>
</html>